
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100px;
    background-color: #37424A;
    border-bottom: 4px solid #B54637;
    #branding{
        h1{
            font-size: 150%;
            color: white;
            .highlight{
                color: #B54637;
            }
        }
    }
    
    nav{
        font-weight: bold;
        ul{
            text-align: center;
            list-style-type: none;
            
            li{
                display: inline;
                
                a{
                    display: inline-block;
                    padding: 0.5em 1.5em;
                    text-decoration: none;
                    color: white;
                }
            }

            .current {
                a{
                    color: #E94920;
                }
            }

        }
    }
}




#showcase{
    background : url("../img/showcase.jpg") no-repeat;
    background-size: cover;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    .container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 8rem;
        h1{
            font-size: 300%;
            color: white;
            text-align: center;
        }
        p{
            padding-top: 2rem;
            text-align: center;
            color:white;
        }
    }

}

#newsletter .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100px;
    background-color: #37424A;
    h1{
        color: white;
        font-size: 130%;
    }
    input{
        border: 0px;
        border-radius:0%;
        padding: 0.55rem 1rem;
    }
    .button_1{
        font-weight: bold;
        border-radius: 0%; 
        background-color: #E94920;
        color: white;
        padding: 0.6rem;
        border: 0px;
        &:hover{
            background-color: darken(#E94920, 10);
        }
    }
}

#boxes .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .box{
        img{
            max-width: 30%;
            height: auto;
        }
        text-align: center;
        align-items: center;
        margin: 0.5rem;
        padding: 3rem;
        h3{
            padding: 1rem;
            font-size: 110%;;
        }
    }
}


#main .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    padding: 2rem;
    line-height: 1.8rem;
    font-size: 110%;
    
    #main-col{
        margin: 0rem 2rem;
        align-items: center;
    }

    p{
        margin: 2rem 0rem;
    }
    
    h1{
        padding: 0rem 0rem;
        margin-bottom: 1rem;
    }

    .dark{
        background-color: #37424A;
        color: white;
        padding: 1rem 1rem 1rem 1rem;
    }

    #services{

        list-style-type: none;
        li{
            background-color: #D3D3D3;
            padding: 1rem 1rem;
            margin-bottom: 1rem;
        }
    }

    #sidebar{
        display: flex;
        flex-direction: row;
        input{
            border: 0px;
            border-radius:0%;
            padding: 1rem 1rem;
            margin-bottom: 1rem;
        }

        textarea{
            border: 0px;
            border-radius:0%;
            padding: 1rem 8.7rem 1rem 1rem;
            margin-bottom: 1rem;
        }

        .button_1{
            font-weight: bold;
            border-radius: 0%; 
            background-color: #E94920;
            color: white;
            padding: 1rem 2rem;
            border: 0px;
            &:hover{
                background-color: darken(#E94920, 10);
            }
        }

    }
}





footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    color: white;
    background-color:#E94920;
    font-size: 120%;
    font-weight: bold;
    flex-shrink: 0;
}



@media screen and (max-width:760px){
    #showcase .container{
        margin: auto;
    }

    #newsletter .container{
        font-weight: 100%;
    }

    #boxes .container{
        flex-direction: column;
    }

    footer{
        font-size:100%;
    }

    #main .container{
        flex-direction: column;
        margin: 1rem;
        line-height: 1.6rem;
        font-size: 100%;
    }
}

@media screen and (min-width:1200px){
   #boxes .container, #main .container{
       width: 1200px;
       margin-left: auto;
       margin-right: auto;
   }
}